<div class="card">
  <div class="row">
    <div class="col-auto">
      <img src="{{user.image}}" class="" style="width: 300px" alt="img">
    </div>
    <div class="col">
      <div class="card-block px-2 mt-3">
        <h4 class="card-title" name="name">{{user.name}}</h4>
        <p class="card-text" name="email">{{user.email}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-outline-dark">Edit Profile</a>
      </div>
    </div>
  </div>
</div>